@import url('https://fonts.googleapis.com/css2?family=Playwrite+IN&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, serif;
    text-align: center;
    background-color: #c3cad2;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2rem;
    color: #333;
    margin-top: 20px;
}

h2 {
    font-size: 1.5rem;
    color: #555;
    margin-top: 20px;
}

p {
    font-size: 1rem;
    color: #666;
    word-wrap: break-word;
    margin: 10px 0;
}

#buttonsContainer {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #505e79;
    color: white;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

.charts-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    width: 100%;
    max-width: 1200px;
    margin: 20px auto;
}

canvas {
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 10px auto;
    display: block;
}

#freqChart,
#profChart {
    width: 450px !important;
    height: 225px !important;
}

#pieChart,
#handPosChart {
    width: 300px !important;
    height: 300px !important;
}

.chart-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-items: center;
    align-items: center;
    margin: 20px auto;
}

.watermark {
    position: fixed;
    top: 10px; 
    right: 10px; 
    z-index: 999; 
    pointer-events: none;
    width: 150px; 
    height: auto; 
}


/* Estilos adaptativos para dispositivos móviles */
@media (max-width: 768px) {
    body {
        justify-content: flex-start; /* Asegura que el contenido se alinee al principio */
        padding: 20px; /* Agrega espacio alrededor del contenido */
    }

    h1, h2 {
        margin-top: 60px; /* Reduce el espacio superior */
    }

    .charts-container {
        flex-direction: column; /* Cambia a disposición en columna */
        gap: 10px;
    }

    canvas {
        max-width: 100%; /* Ajusta los gráficos al ancho de la pantalla */
        height: auto; /* Mantiene la proporción */
    }

    #freqChart,
    #profChart {
        width: 100% !important;
        height: auto !important;
    }

    #pieChart,
    #handPosChart {
        width: 40% !important;
        height: auto !important;
    }

    .chart-container {
        grid-template-columns: 1fr; /* Una columna para los gráficos */
        gap: 10px;
    }
    .watermark {
        position: absolute; 
        top: 5px;
        right: 5px; 
        width: 150px; 
        height: auto;
        padding: 10px;
    }
}

